
<div class="login-form">
    <h1>Login Page</h1>

    <form action="" method="post">
        <div class="group-form">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
        </div>

        <div class="group-form">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="group-form">
            <button type="submit" id="login">Login</button>
        </div>
</div>

            
        </form>